.DS_Store
*.asv
*.m~
*.mex*
slprj/
nbproject/
*.fmu
*.log
*.aux
*.bbl
*.blg
*.rel
*.a
*.oct
*.o
*#
*.c~
*.cpp~
*.hpp~
*.h~
*.txt~
*.sh~
*meWrapper/*/sources/
*meWrapper/*/fmu/
*meWrapper/*/*.xml
*GSYMS
*core
*.swp
